@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgba(0, 0, 0, 0.08);
  /* background: url("/images/background.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover; */
  scroll-snap-type: mandatory;
}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f170;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555555b5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff8a65;
}
